{% extends 'main/main.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block style %}
.i {
    display: flex;
    justify-content: space-around;
}
.item1, .item2{
    background: white;
    text-decoration: none;
    color: black;
    width: 150%;
    height: 130%;
    border-radius: 30px;
    text-align: center;
    border: 1px solid black;
}
.item:hover {
    text-decoration: none;
}
.item1:hover, .item2:hover {
    background: black;
    color: white;
}
.flexindex {
    display: flex;
    justify-content: space-around;
}
#footer {
    position: fixed; 
    left: 0; bottom: 0; right: 0; 
    color: #fff; 
    width: 100%; }
#footer div {
    padding: 10px;
    background: #39b54a; }
{% endblock %}

{% block content %}
<div class="flexindex">
    <a class="item" href="{% url 'product' %}"><div><div class="item1">New product</div></div></a>

    <a class="item" href="{% url 'add_product' %}"><div><div class="item1">Add product</div></div></a>

    <a class="item" href="{% url 'order' %}"><div><div class="item2">New order</div></div></a>
</div>
<br>

<form action="{% url 'home' %}" method='post'>
{% csrf_token %}
{{ form.earn }}
{{ form.budget_name }}
{{ form.budget_tag }}
<button type='submit' class='btn btn-success'>Добавить</button>
</form>

{% for el in budget %}
{{ el.earn }} | {{ el.budget_tag }} | 
{{ el.budget_name }} <br>
{% endfor %}



<div id="footer" class='container'><div>{{ budget_sum }}</div></div>
{% endblock %}