{% extends 'main/main.html' %}
{% block title %}
Страница товара
{% endblock %}

{% block style %}
tr, td {
	border: 1px solid black;
	text-align: center;
	width: 400px;
	margin: 20px;
}
{% endblock %}

{% block content %}
<table>
	<tr>
	<th>{{ object.product_name }}</th>
	<th>Пополнить склад</th>
	<th>Изменить изображение</th>	
	</tr>
	<tr>
	<td>
		<div class="post-entry">
		<p>ID: {{ object.product_id }}</p>
		В наличии: {{ object.product_count }} <br>
		<br>
		<div>
      		<img src="../../media/{{ object.product_image }}" style="width: 100px">
    	</div>
    </td>
    <td>
		<form method="post" action="{% url 'add_product_count_page' %}">
			{% csrf_token %}
			<input type="hidden" name='product_pk' value='{{ object.pk }}'>
			<input type="hidden" name='product_id' value='{{ object.product_id }}'>
			<input type="hidden" name="product_count" value="{{ object.product_count }}">
			<input type="text" class="form-control" name="add_product_count">
			<button type="submit" class="btn btn-success">Добавить</button>
		</form>
		</div> <br>
	</td>
	<td>
    	<form method="post" enctype="multipart/form-data" action="{% url 'edit_product' %}">
    	{% csrf_token %}
		<input type="hidden" name='product_pk' value='{{ Product.pk }}'>
		<input type="hidden" name='product_id' value='{{ Product.product_id }}'>
		<input type="file" name="product_image" accept="image/*" required="" id="id_product_image"> <br>
		<br>
    	<button type="submit" class="btn btn-success">Upload</button>
  		</form>
    	
	</td>
  	</tr>
</table>
{% endblock %}